<footer class="text-center mt-5 py-3 border-top">
  <p class="text-muted mb-0">&copy; 2025 My Blog App. Tüm hakları saklıdır.</p>
</footer>


<!-- Bootstrap Bundle JS (collapse vs. için şart) -->
<script src="/js/bootstrap.bundle.min.js"></script>


</body>
</html>
