<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Blog</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script><!--chart grafiği için-->



</head>

<body>

      <!-- NAVBAR BURADA BAŞLAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Blog</a>

      <form class="d-flex" role="search" action="/search" method="GET">
        <input class="form-control me-2" type="search" name="q" placeholder="Yazı ara..." aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Ara</button>
      </form>
      
      <div>
        <a class="btn btn-outline-light me-2" href="/">Ana Sayfa</a>
        <a class="btn btn-light" href="/compose">+ Yeni Post</a>
        
      </div>
    </div>
  </nav>

